{{- $postDate := .Date -}}
{{- $oneYearAgo := now.AddDate -1 0 0 -}}

{{- if lt $postDate $oneYearAgo -}}
{{- $lang := .Param "Lang" | default .Site.Language.Lang -}}
  <div class="old-post-message">
    {{- if eq $lang "fr" -}}
    <p><strong>Cet article a été publié il y a plus d'un an, son contenu n'est peut être plus à jour.</strong></p>
    {{- else }}
    <p><strong>This post was published over a year ago and may contain outdated information.</strong></p>
    {{- end}}
  </div>
{{- end -}}