{{- $scratch := newScratch }}

{{- $lang := .Param "Lang" | default .Site.Language.Lang -}}
{{- if not .Date.IsZero -}}
{{- if eq $lang "fr" -}}
{{- $months := dict "January" "Janvier" "February" "Février" "March" "Mars" "April" "Avril" "May" "Mai" "June" "Juin" "July" "Juillet" "August" "Août" "September" "Septembre" "October" "Octobre" "November" "Novembre" "December" "Décembre" -}}
{{- $englishMonth := .Date.Format "January" -}}
{{- $frenchMonth := index $months $englishMonth -}}
{{- $day := .Date.Format "2" -}}
{{- $year := .Date.Format "2006" -}}
{{- $formattedDate := printf "%s %s %s" $day $frenchMonth $year -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>Écrit le %s</span>" (.Date) $formattedDate)) }}
{{- $scratch.Add "meta" (slice (printf "Temps de lecture : %d min" .ReadingTime)) }}
{{- else}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>Written on %s</span>" (.Date) (.Date | time.Format (default "January 2, 2006" site.Params.DateFormat)))) }}
{{- $scratch.Add "meta" (slice (printf "Reading time : %d min" .ReadingTime)) }}
{{- end}}
{{- end }}


{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
