/*
This is just a placeholder blank stylesheet so as to support adding custom styles budled with theme's default styles

Read https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#bundling-custom-css-with-themes-assets for more info
*/
.homepage-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.chroma .c1, .chroma .cp, .chroma .cm, .chroma .c, .chroma .sd {
  color: #c6a0f6;
}

.old-post-message {
  border: 3px solid var(--alert-border);
  padding: 1rem 0.8rem;
  margin-bottom: 3.4rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}